extends layout

block content
  
  form#myForm
    label(for="account")#account.myLabel account:  
    input(
    type='text'
    name='account'
    )
    br
    label(for="password")#account.myLabel password:  
    input(
    type='password'
    name='password'
    )
